<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
    <menuitem id="sale_container_menu"
            parent="sale.sale_order_menu"
            action="sale_container.sale_container_act"
            sequence="10" groups="sales_team.group_sale_salesman"/>

    <menuitem id="sale_container_line_menu"
            parent="sale.sale_order_menu"
            action="sale_container.sale_container_line_act"
            sequence="11" groups="sales_team.group_sale_salesman"/>
    

    <menuitem id="sale_container_simple_menu"
            parent="sale.sale_order_menu"
            action="sale_container.sale_container_simple_act"
            sequence="13" groups="sales_team.group_sale_salesman"/>     
    <menuitem id="sale_container__receive_menu"
                parent="sale.sale_order_menu"
                action="sale_container.sale_container_receive_act"
                sequence="15" groups="sales_team.group_sale_salesman"/>

    </data>

</openerp>